In [1]:
import pyspark
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('filter&aggregate').getOrCreate()

In [5]:
spark

In [16]:
df = spark.read.csv('Employee.csv', header=True, inferSchema=True)

In [17]:
df.show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Sam| 31|        10| 30000|
| Carry| 30|         8| 25000|
| Jimmy| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|  Andy| 23|         2| 18000|
|Alisha| 24|         3| 40000|
| Billy| 34|        10| 38000|
+------+---+----------+------+

## Filter Operations

In [18]:
### Salary of the people less than or equal to 20000

df.filter("Salary<= 20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
| Jimmy| 29|         4| 20000|
|  Paul| 24|         3| 20000|
|Harsha| 21|         1| 15000|
|  Andy| 23|         2| 18000|
+------+---+----------+------+

In [19]:
### Salary of the people greater than to 20000

df.filter("Salary > 20000").show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Sam| 31|        10| 30000|
| Carry| 30|         8| 25000|
|Alisha| 24|         3| 40000|
| Billy| 34|        10| 38000|
+------+---+----------+------+

In [20]:
## Show the Name and Salary of the people who are getting more than 20000

df.filter("Salary > 20000").select(["Name","Salary"]).show()

+------+------+
|  Name|Salary|
+------+------+
|   Sam| 30000|
| Carry| 25000|
|Alisha| 40000|
| Billy| 38000|
+------+------+

In [30]:
## Show the details of employee where salary is greater than 20000 and age is greater than 30

df.filter((df['Salary'] >= 20000) & (df['age'] > 30)).show()

+-----+---+----------+------+
| Name|age|Experience|Salary|
+-----+---+----------+------+
|  Sam| 31|        10| 30000|
|Billy| 34|        10| 38000|
+-----+---+----------+------+

In [31]:
## Show the details of employee where salary is not less then equal to 20000

df.filter(~(df['Salary']<=20000)).show()

+------+---+----------+------+
|  Name|age|Experience|Salary|
+------+---+----------+------+
|   Sam| 31|        10| 30000|
| Carry| 30|         8| 25000|
|Alisha| 24|         3| 40000|
| Billy| 34|        10| 38000|
+------+---+----------+------+

## Group by and Aggregate operations

In [32]:
df_emp = spark.read.csv('Emp2.csv', header= True, inferSchema= True)

In [34]:
df_emp.show()

+------+------------+------+
|  Name|  Department|Salary|
+------+------------+------+
|   Sam|Data Science| 30000|
| Carry|    Big Data| 25000|
| Jimmy|         IOT| 20000|
|  Paul|Data Science| 20000|
|Harsha|    Big Data| 15000|
|  Andy|         IOT| 18000|
|Alisha|    Big Data| 40000|
| Billy|Data Science| 38000|
|   Ben|         IOT| 26000|
+------+------------+------+

In [37]:
## Show total sum of salary group by Dept

df_emp.groupBy('Department').sum().show()

+------------+-----------+
|  Department|sum(Salary)|
+------------+-----------+
|         IOT|      64000|
|    Big Data|      80000|
|Data Science|      88000|
+------------+-----------+

In [39]:
## Total num of emp in each dept

df_emp.groupBy('Department').count().show()

+------------+-----+
|  Department|count|
+------------+-----+
|         IOT|    3|
|    Big Data|    3|
|Data Science|    3|
+------------+-----+

In [42]:
## Average salary in each dept

df_emp.groupBy('Department').mean().show()

+------------+------------------+
|  Department|       avg(Salary)|
+------------+------------------+
|         IOT|21333.333333333332|
|    Big Data|26666.666666666668|
|Data Science|29333.333333333332|
+------------+------------------+

In [41]:
## Total salary 

df_emp.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|     232000|
+-----------+